
body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  color: #555
  font-size: 14px
  .iconfont
    font-size: 25px
  .mint-header
    height: 48px
    .mint-header-title
      font-size 18px
.header-top
  padding : 60px 20px

ul
  overflow: hidden
h3
  font-size: 16px;
  font-weight: bold
  color: #000

.slider-enter, .slider-leave-to
  transform: translate3d(100%, 0, 0)
  opacity: 0.2
.slider-enter-active, .slider-leave-active
  transition: all .4s
